{{- range $i, $domain := .Domains}}
---
apiVersion: {{$.APIVersion}}
kind: prefs
metadata:
  domain: {{$domain.MetaData.Domain}}
  macos: {{$domain.MetaData.OSVersion}}
spec:
  preferences:
  {{- range $i, $pref := $domain.Spec.Prefs}}
  - name: {{.Name}}
    default: {{.Value}}
  {{- end}}
{{- end}}

